body{
    background-position: center;
    background-size: cover;
    background-image: url(https://wallpapers.com/images/hd/dark-green-background-tgn41irw6gvvcuc6.jpg);
    max-width: 960px;
    flex-wrap: wrap;
    color: aliceblue;
    height: 100%;
    margin:  0;
}

header img {
    display: block;
    margin: 0 auto;
    mix-blend-mode: multiply;
    max-width: 520px;
 }

main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.productos1, .productos2, .productos3{
position: relative;
  transition: 
        opacity 0.3s ease,
        transform 0.3s ease,
        visibility 0.3s;
}

.desplegable0{
    font-size: 25px;
    text-shadow: 8px 8px 8px rgb(10, 65, 10);
    color: green;
    list-style: none;
    display: inline-flex;
    gap: 15px;
    text-align: center; 
}


.desplegable1, .desplegable2{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 10;
    transition: 
        opacity 0.3s ease,
        transform 0.3s ease,
        visibility 0.3s;
    display: flex;
    flex-direction: column;
    gap: 15px;
    left: 50%;
    top: 100%;
    transform: translateX(-50%) translateY(10px);
    text-align: center;
    min-width: 200px;
    background-position: center;
    border-radius: 15px;
}


.productos1:hover .desplegable1{
    visibility: visible;
    opacity: 1;
    flex-direction: column;
    transform: translateX(-50%) translateY(0);
    margin-top: 15px;
    color: green;
}

.productos1:hover + .productos2,
.productos1:hover ~ .productos3
 {
    visibility: hidden;
    opacity: 0;
}

.sobres1:hover .desplegable2{
    visibility: visible;
    opacity: 1;
    flex-direction: column;
    transform: translateX(-50%) translateY(0);
    margin-top: 15px;
    color: green;
}

.sobres1:hover + .cajas{
    visibility: hidden;
    opacity: 0;
}

.sobres1, .cajas{
    list-style: none;
}

.desplegable2 ul li{
    list-style: none;
}

 .desplegable2,.desplegable1 ul {
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    gap: 15px;
 }

