

html{
    background: black;
    margin:o auto
}


body{
    background-image: url(https://tudegranit.com/wp-content/uploads/2023/05/marmol-amarillo-sunny.jpg);
    padding: 20px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    min-width: 320px;
    max-width: 920px;
    font-family: MAGIC;
   
}

 @font-face {
        font-family: MAGIC;
        src: url(/fonts/MAGIC.ttf) format(truetype);
        font-weight: normal;
        font-style: normal;
    
    }

.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    background-image: url(https://img.freepik.com/foto-gratis/textura-marmol-lujo_23-2151845492.jpg?semt=ais_hybrid&w=740&q=80);

}

.mg{
    display: flex;
    margin-right: 60px;
    margin: 0 auto;
}
.mg p{
    text-align: left;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    text-shadow: 2px 2px white;
    display: flex;
    justify-content: center;
}
.colores{
margin-left: 5px;
justify-content: end;
}
.menu{
    display: flex;
}

main ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    border: solid;
    border-radius: 10px;
    background-image: url(https://img.freepik.com/foto-gratis/textura-marmol-lujo_23-2151845492.jpg?semt=ais_hybrid&w=740&q=80);
 
}

.carta-1,
.carta-2,
.carta-3,
.carta-4,
.carta-5,
.contenido-1,
.contenido-2,
.contenido-3,
.contenido-4,
.contenido-5 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    position: relative;
    overflow: hidden;     
    width: 200px;           
    height: auto;            
    border-radius: 18px;     
    text-align: center;
    transition: 1s;
    filter: brightness(100%);
    perspective: 1000px;
    
}

.texto-por-encima:hover{
transform-style: preserve-3d;
transform: rotate3d(1, 1, 1, -35deg);
}


.texto-por-encima {
    position: absolute;     
    top: 8.5%;               
    left: 25%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(54, 54, 54);
    text-align: center;
    width: 90%;             
}

.texto-ambiente {
    position: absolute;     
    top: 75%;               
    left: 54%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 11px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(54, 54, 54);
    text-align: center;
    width: 90%;           
    text-align: left;  
}

.texto-por-encima-definicion {
    position: absolute;     
    top: 57.9%;                 
    left: 26%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 90%;             
}

.texto-por-encima-2 {
    position: absolute;     
    top: 8.5%;               
    left: 30%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    width: 90%;             
}

.texto-por-encima-definicion-2 {
    position: absolute;     
    top: 57.9%;                 
    left: 33.8%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 90%;             
}

.texto-ambiente-2 {
    position: absolute;     
    top: 75%;               
    left: 54%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 11px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(54, 54, 54);
    text-align: center;
    width: 90%;           
    text-align: left;  
}

.texto-por-encima-3 {
    position: absolute;     
    top: 8.5%;               
    left: 22%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    width: 90%;             
}

.texto-por-encima-definicion-3 {
    position: absolute;     
    top: 57.9%;                 
    left: 28%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 90%;             
}

.texto-ambiente-3 {
    position: absolute;     
    top: 75%;               
    left: 54%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 11px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(54, 54, 54);
    text-align: center;
    width: 90%;           
    text-align: left;  
    text-shadow: 1px 1px white;
}

.texto-por-encima-4 {
    position: absolute;     
    top: 8.5%;               
    left: 24%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    width: 90%;             
}

.texto-por-encima-definicion-4 {
    position: absolute;     
    top: 57.9%;                 
    left: 33.8%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 90%;             
}

.texto-ambiente-4 {
    position: absolute;     
    top: 75%;               
    left: 54%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 11px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(54, 54, 54);
    text-align: center;
    width: 90%;           
    text-align: left;  
}

.texto-por-encima-5 {
    position: absolute;     
    top: 8.5%;               
    left: 31%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    width: 90%;             
}

.texto-por-encima-definicion5 {
    position: absolute;     
    top: 57.9%;                 
    left: 32%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 90%;             
}

.texto-ambiente-5 {
    position: absolute;     
    top: 75%;               
    left: 54%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 11px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(54, 54, 54);
    text-align: center;
    width: 90%;           
    text-align: left;  
}

.zona{
    position: absolute;
    width: 50%;
    height: 50%;
    z-index: 10;
}

.carta-1-top-left { top: 0; left: 0; background-color:transparent }
.carta-1-top-right { top: 0; left: 50%; background-color: transparent }
.carta-1-bot-left { top: 50%; left: 0; background-color: transparent }
.carta-1-bot-right { top: 50%; left: 50%; background-color: transparent }

.carta-1 .zona {
    position: absolute;
    width: 50%;
    height: 50%;
    background: transparent; 
    z-index: 999;
    pointer-events: auto; 
}

.carta-1-top-left:hover ~ .contenido-1 {
    transform: rotate3d(1, -1, 0, 15deg);
    transition: 0.5s ease-in-out;
    filter: brightness(120%);
    filter: drop-shadow(130%); 
}

.carta-1-top-right:hover ~ .contenido-1 {
    transform: rotate3d(1, 1, 0, 15deg); 
    transition: 0.5s ease-in-out;
    filter: brightness(120%);
    filter: drop-shadow(130%);
}

.carta-1-bot-left:hover ~ .contenido-1 {
    transform: rotate3d(-1, -1, 0, 15deg);
    transition: 0.5s ease-in-out;
    filter: brightness(120%);
    filter: drop-shadow(130%);  
}

.carta-1-bot-right:hover ~ .contenido-1 {
    transform: rotate3d(-1, 1, 0, 15deg);
    transition: 0.5s ease-in-out;
    filter: brightness(120%);
    filter: drop-shadow(130%);    
}

.imagen-dentro-1 {
    position: absolute;
    top: 34px;      
    left: 18px;     
    width: 164px;   
    height: 121px;  
    z-index: 2;     
}

.imagen-dentro-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.imagen-texto-1 {
    position: absolute;
    top: 176px;      
    left: 17px;     
    width: 164px;   
    height: 76px;  
    z-index: 0;     
}

.imagen-texto-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.carta-2-top-left { top: 0; left: 0; background-color:transparent }
.carta-2-top-right { top: 0; left: 50%; background-color: transparent }
.carta-2-bot-left { top: 50%; left: 0; background-color: transparent }
.carta-2-bot-right { top: 50%; left: 50%; background-color: transparent }

.carta-2 .zona {
    position: absolute;
    width: 50%;
    height: 50%;
    background: transparent; 
    z-index: 999;
    pointer-events: auto; 
}

.carta-2-top-left:hover ~ .contenido-2 {
    transform: rotate3d(1, -1, 0, 15deg);
    transition: 0.5s ease-in-out;
    filter: brightness(120%);
    filter: drop-shadow(130%); 
}

.carta-2-top-right:hover ~ .contenido-2 {
    transform: rotate3d(1, 1, 0, 15deg); 
    transition: 0.5s ease-in-out;
    filter: brightness(120%);
    filter: drop-shadow(130%); 
}

.carta-2-bot-left:hover ~ .contenido-2 {
    transform: rotate3d(-1, -1, 0, 15deg);
    transition: 0.5s ease-in-out;
    filter: brightness(120%);
    filter: drop-shadow(130%);  
}

.carta-2-bot-right:hover ~ .contenido-2 {
    transform: rotate3d(-1, 1, 0, 15deg);
    transition: 0.5s ease-in-out;
    filter: brightness(120%);
    filter: drop-shadow(130%);    
}


.imagen-dentro-2 {
    position: absolute;
    top: 34px;      
    left: 18px;     
    width: 164px;   
    height: 121px;  
    z-index: 2;     
}

.imagen-dentro-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.imagen-texto-2 {
    position: absolute;
    top: 175.5px;      
    left: 17px;     
    width: 165px;   
    height: 76.45px;  
    z-index: 0;     
}

.imagen-texto-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


.carta-3-top-left { top: 0; left: 0; background-color:transparent }
.carta-3-top-right { top: 0; left: 50%; background-color: transparent }
.carta-3-bot-left { top: 50%; left: 0; background-color: transparent }
.carta-3-bot-right { top: 50%; left: 50%; background-color: transparent }

.carta-3 .zona {
    position: absolute;
    width: 50%;
    height: 50%;
    background: transparent; 
    z-index: 999;
    pointer-events: auto; 
}

.carta-3-top-left:hover ~ .contenido-3 {
    transform: rotate3d(1, -1, 0, 15deg);
    transition: 0.5s ease-in-out;
    filter: brightness(120%);
    filter: drop-shadow(130%); 
}

.carta-3-top-right:hover ~ .contenido-3 {
    transform: rotate3d(1, 1, 0, 15deg); 
    transition: 0.5s ease-in-out;
    filter: brightness(120%);
    filter: drop-shadow(130%); 
}

.carta-3-bot-left:hover ~ .contenido-3 {
    transform: rotate3d(-1, -1, 0, 15deg);
    transition: 0.5s ease-in-out;
    filter: brightness(120%);
    filter: drop-shadow(130%);  
}

.carta-3-bot-right:hover ~ .contenido-3 {
    transform: rotate3d(-1, 1, 0, 15deg);
    transition: 0.5s ease-in-out;
    filter: brightness(120%);
    filter: drop-shadow(130%);    
}


.imagen-dentro-3 {
    position: absolute;
    top: 34px;      
    left: 18px;     
    width: 164px;   
    height: 121px;  
    z-index: 2;     
}

.imagen-dentro-3 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.imagen-texto-3 {
    position: absolute;
    top: 175.5px;      
    left: 17px;     
    width: 165px;   
    height: 76.45px;  
    z-index: 0;     
}

.imagen-texto-3 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.carta-4-top-left { top: 0; left: 0; background-color:transparent }
.carta-4-top-right { top: 0; left: 50%; background-color: transparent }
.carta-4-bot-left { top: 50%; left: 0; background-color: transparent }
.carta-4-bot-right { top: 50%; left: 50%; background-color: transparent }

.carta-4 .zona {
    position: absolute;
    width: 50%;
    height: 50%;
    background: transparent; 
    z-index: 999;
    pointer-events: auto; 
}

.carta-4-top-left:hover ~ .contenido-4 {
    transform: rotate3d(1, -1, 0, 15deg);
    transition: 0.5s ease-in-out;
    filter: brightness(120%);
    filter: drop-shadow(120%); 
}

.carta-4-top-right:hover ~ .contenido-4 {
    transform: rotate3d(1, 1, 0, 15deg); 
    transition: 0.5s ease-in-out;
    filter: brightness(120%);
    filter: drop-shadow(120%);  
}

.carta-4-bot-left:hover ~ .contenido-4{
    transform: rotate3d(-1, -1, 0, 15deg);
    transition: 0.5s ease-in-out;
    filter: brightness(120%);
    filter: drop-shadow(120%);   
}

.carta-4-bot-right:hover ~ .contenido-4 {
    transform: rotate3d(-1, 1, 0, 15deg);
    transition: 0.5s ease-in-out;
    filter: brightness(120%);
    filter: drop-shadow(120%);     
}


.imagen-dentro-4 {
    position: absolute;
    top: 34px;      
    left: 18px;     
    width: 164px;   
    height: 121px;  
    z-index: 2;     
}

.imagen-dentro-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.imagen-texto-4 {
    position: absolute;
    top: 175px;      
    left: 17.8px;     
    width: 165px;   
    height: 76.65px;  
    z-index: 0;     
}

.imagen-texto-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.carta-5-top-left { top: 0; left: 0; background-color:transparent }
.carta-5-top-right { top: 0; left: 50%; background-color: transparent }
.carta-5-bot-left { top: 50%; left: 0; background-color: transparent }
.carta-5-bot-right { top: 50%; left: 50%; background-color: transparent }

.carta-5 .zona {
    position: absolute;
    width: 50%;
    height: 50%;
    background: transparent; 
    z-index: 999;
    pointer-events: auto; 
}

.carta-5-top-left:hover ~ .contenido-5 {
    transform: rotate3d(1, -1, 0, 15deg);
    transition: 0.5s ease-in-out;
    filter: brightness(120%);
    filter: drop-shadow(120%); 
}

.carta-5-top-right:hover ~ .contenido-5 {
    transform: rotate3d(1, 1, 0, 15deg); 
    transition: 0.5s ease-in-out;
    filter: brightness(120%);
    filter: drop-shadow(120%);  
}

.carta-5-bot-left:hover ~ .contenido-5 {
    transform: rotate3d(-1, -1, 0, 15deg);
    transition: 0.5s ease-in-out;
    filter: brightness(120%);
    filter: drop-shadow(120%);   
}

.carta-5-bot-right:hover ~ .contenido-5 {
    transform: rotate3d(-1, 1, 0, 15deg);
    transition: 0.5s ease-in-out;
        
}

.imagen-dentro-5 {
    position: absolute;
    top: 34px;      
    left: 18px;     
    width: 164px;   
    height: 121px;  
    z-index: 2;     
}

.imagen-dentro-5 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.imagen-texto-5 {
    position: absolute;
    top: 174.5px;      
    left: 17px;     
    width: 165.5px;   
    height: 78px;  
    z-index: 0;     
}

.imagen-texto-5 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

footer{
    background-image: url(https://img.freepik.com/foto-gratis/textura-marmol-lujo_23-2151845492.jpg?semt=ais_hybrid&w=740&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    padding:20px;
    border: solid;
    border-radius: 15px;
    box-sizing: border-box  ;
}