html{
    background: black;
}


body{
    background-image: url(https://tudegranit.com/wp-content/uploads/2023/05/marmol-amarillo-sunny.jpg);
    padding:30px;
    margin: 20px 20px;
    border-radius: 10px;
    min-width: 320px;
    max-width: 920px;
}

@font-face {
    font-family: 'MiFuente';
    src: url(MAGIC.TTF) format('truetype');
    font-weight: normal;
    font-style: normal;
}
.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border: 2px solid black;
    border-radius: 10px;
    background-image: url(imagenes/amarillo-macael-triana.jpg);

}

.mg {
    text-align: left;
    margin-left: 10px;
    text-shadow: 2px 2px white;
}
.colores{
margin-left: 5px;
justify-content: end;
}


main ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    border: solid;
    border-radius: 10px;
    background-image: url(imagenes/amarillo-macael-triana.jpg);
 
}


.carta-1,
.carta-2,
.carta-3,
.carta-4,
.carta-5 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    position: relative;     
    width: 100;           
    height: auto;          
    overflow: hidden;  
    border-radius: 15px;     
    text-align: center;
    transition: 1s;
    filter: brightness(100%);
    perspective: 1000px;
    
}

.texto-por-encima:hover{
transform-style: preserve-3d;
transform: rotate3d(1, 1, 1ยก0, -35deg);
}

.carta-1:hover {
    background: rgb(128, 158, 240);
    filter: brightness(130%);
    filter: drop-shadow(100%);
    transition: filter 0.3s ease-in-out;
    transition: 1s;
    scale: 1.1;
    transform-style: preserve-3d;
    transform: rotate3d(1, 1, 0, 35deg);
    cursor: pointer;
}   

.carta-2:hover {
    background: rgb(245, 236, 212);
    filter: brightness(130%);
    filter: drop-shadow(100%);
    transition: filter 0.3s ease-in-out;
    transition: 1s;
    scale: 1.1;
    transform-style: preserve-3d;
    transform: rotate3d(1, 1, 0, 35deg);
}

.carta-3:hover {
    background: rgb(41, 41, 40);
    filter: brightness(130%);
    filter: drop-shadow(100%);
    transition: filter 0.3s ease-in-out;
    transition: 1s;
    scale: 1.1;
    transform-style: preserve-3d;
    transform: rotate3d(1, 1, 0, 35deg);
}

.carta-4:hover {
    background: rgb(235, 84, 46);
    filter: brightness(130%);
    filter: drop-shadow(100%);
    transition: filter 0.3s ease-in-out;
    transition: 1s;
    scale: 1.1;
    transform-style: preserve-3d;
    transform: rotate3d(1, 1, 0, 35deg);

}

.carta-5:hover {
    background: rgb(34, 148, 85);
    filter: brightness(130%);
    filter: drop-shadow(100%);
    transition: filter 0.3s ease-in-out;
    transition: 1s;
    scale: 1.1;
    transform-style: preserve-3d;
    transform: rotate3d(1, 1, 0, 35deg);
}

.texto-por-encima {
    position: absolute;     
    top: 8.5%;               
    left: 25%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(54, 54, 54);
    text-align: center;
    width: 90%;             
}

.texto-ambiente {
    position: absolute;     
    top: 75%;               
    left: 54%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 10px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(54, 54, 54);
    text-align: center;
    width: 90%;           
    text-align: left;  
}

.texto-por-encima-definicion {
    position: absolute;     
    top: 57.9%;                 
    left: 26%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 90%;             
}

.texto-por-encima-2 {
    position: absolute;     
    top: 8.5%;               
    left: 30%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    width: 90%;             
}

.texto-por-encima-definicion2 {
    position: absolute;     
    top: 57.9%;                 
    left: 33.8%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 90%;             
}

.texto-ambiente-2 {
    position: absolute;     
    top: 75%;               
    left: 54%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 10px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(54, 54, 54);
    text-align: center;
    width: 90%;           
    text-align: left;  
}

.texto-por-encima-3 {
    position: absolute;     
    top: 8.5%;               
    left: 22%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    width: 90%;             
}

.texto-por-encima-definicion3 {
    position: absolute;     
    top: 57.9%;                 
    left: 28%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 90%;             
}

.texto-ambiente-3 {
    position: absolute;     
    top: 75%;               
    left: 52%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 10px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(54, 54, 54);
    text-align: center;
    width: 90%;           
    text-align: left;  
    text-shadow: 1px 1px white;
}

.texto-por-encima-4 {
    position: absolute;     
    top: 8.5%;               
    left: 24%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    width: 90%;             
}

.texto-por-encima-definicion4 {
    position: absolute;     
    top: 57.9%;                 
    left: 33.8%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 90%;             
}

.texto-ambiente-4 {
    position: absolute;     
    top: 75%;               
    left: 54%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 10px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(54, 54, 54);
    text-align: center;
    width: 90%;           
    text-align: left;  
}

.texto-por-encima-5 {
    position: absolute;     
    top: 8.5%;               
    left: 31%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    width: 90%;             
}

.texto-por-encima-definicion5 {
    position: absolute;     
    top: 57.9%;                 
    left: 32%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 90%;             
}

.texto-ambiente-5 {
    position: absolute;     
    top: 75%;               
    left: 54%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 10px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(54, 54, 54);
    text-align: center;
    width: 90%;           
    text-align: left;  
}

.imagen-dentro-1 {
    position: absolute;
    top: 34px;      
    left: 18px;     
    width: 164px;   
    height: 121px;  
    z-index: 2;     
}

.imagen-dentro-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.imagen-texto-1 {
    position: absolute;
    top: 176px;      
    left: 17px;     
    width: 164px;   
    height: 76px;  
    z-index: 0;     
}

.imagen-texto-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


.imagen-dentro-2 {
    position: absolute;
    top: 34px;      
    left: 18px;     
    width: 164px;   
    height: 121px;  
    z-index: 2;     
}

.imagen-dentro-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.imagen-texto-2 {
    position: absolute;
    top: 176px;      
    left: 17px;     
    width: 164px;   
    height: 76px;  
    z-index: 0;     
}

.imagen-texto-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.imagen-dentro-3 {
    position: absolute;
    top: 34px;      
    left: 18px;     
    width: 164px;   
    height: 121px;  
    z-index: 2;     
}

.imagen-dentro-3 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.imagen-texto-3 {
    position: absolute;
    top: 175.5px;      
    left: 17px;     
    width: 165px;   
    height: 76.45px;  
    z-index: 0;     
}

.imagen-texto-3 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.imagen-dentro-4 {
    position: absolute;
    top: 34px;      
    left: 18px;     
    width: 164px;   
    height: 121px;  
    z-index: 2;     
}

.imagen-dentro-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.imagen-texto-4 {
    position: absolute;
    top: 175px;      
    left: 17.8px;     
    width: 165px;   
    height: 76.65px;  
    z-index: 0;     
}

.imagen-texto-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.imagen-dentro-5 {
    position: absolute;
    top: 34px;      
    left: 18px;     
    width: 164px;   
    height: 121px;  
    z-index: 2;     
}

.imagen-dentro-5 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.imagen-texto-5 {
    position: absolute;
    top: 174.5px;      
    left: 17px;     
    width: 165.5px;   
    height: 78px;  
    z-index: 0;     
}

.imagen-texto-5 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

footer{
    background-image: url(imagenes/amarillo-macael-triana.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    padding:20px;
    border: solid;
    border-radius: 15px;
    box-sizing: border-box  ;
}